.navbar {
    display: flex;
    position: fixed;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;

    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-right {
        margin-right: 20px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;

        li {
        list-style: none;
        display: inline-block;
        font-family: "Poppins", sans-serif;
        }
    }
}




