<div class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="/">
            <img src="assets/images/ShopLogo1.png" alt="Bakery Logo" class="logo" />
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact">Menu</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/merchandise">merchandise</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <app-auth-button></app-auth-button>
    </div>
</div>
