<div class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/ShopLogo1.png" alt="Bakery Logo" class="logo" />
        </a>
        <div 
            class="navbar-links"
            *ngFor="let item of navItems" [routerLink]="item.link"
            [ngClass]="{ 'active-link': router.url === item.link }"
         >
            <a class="navbar-link">
                {{ item.label }}
            </a>
        </div>
    </div>
    <div class="navbar-right">
        <app-auth-button></app-auth-button>
    </div>
</div>
