<div class="navbar">
    <a class="navbar-brand" href="/">
        <img src="assets/images/ShopLogo.png" alt="Bakery Logo" class="logo" />
    </a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Shop</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">Contact Us</a></li>
    </ul>
    <div class="navbar-right">
        <app-auth-button></app-auth-button>
    </div>
</div>
