<div class="menu-container">
    <div class="menu-board-container">
        <div class="menu-board-content">
            <section>
                <h1>
                    Bursting with Brightness 
                </h1>
                <p>
                    Cool off with our icy thirst-quenchers.
                </p>
            </section>
            <div>
                Discover The Flavors
            </div>
        </div>
        <section>
            <img src="assets/images/ShopLogo1.png" alt="Shop Image" class="menu-image">
        </section>
    </div>
    <div class="menu-search-container" #searchSection>
        <div>
            <h2>
                Menu
            </h2>
            <input pInputText type="text" placeholder="Search our drinks, pastries, and foods!" class="menu-search-input">
        </div>
    </div>
    <div class="menu-menu-container">
        <section class="menu-selection-container">
            <div class="menu-selections" *ngFor="let variant of menuVariants">
                <h1>{{ variant.variant }}</h1>
                <section>
                    <div *ngFor="let item of variant.subVariants" >
                        <a [routerLink]="['/menus', encodeSubVariant(item || '')]">
                            <p>{{ item }}</p>
                        </a>
                    </div>
                </section>
            </div>
        </section>
        <section class="menu-products-container">
            <ng-container *ngIf="VariantSelections && selectedSubVariant == null; else showCategories">
                <div *ngFor="let group of [VariantSelections.drinks, VariantSelections.foods]">
                    <div *ngFor="let section of group">
                        <div class="menu-products-header">
                            <p>{{ section.variant }}</p>
                        </div>
                        <div class="menu-products-items">
                            <app-product-holder
                                *ngFor="let product of section.subVariants"
                                [ProductDetails]="product"
                                [CategoryOnly]="true"
                                (encodeURIComponent)="encodeSubVariant($event)">
                            </app-product-holder>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #showCategories>
                <div *ngFor="let item of filteredCategories">
                    <div class="menu-products-header" >
                        <div class="menu-products-directory">
                            <a routerLink="/menus">
                                Menu /
                            </a>
                            <p>
                                {{ item.variant }}
                            </p>
                        </div>
                        <p>
                            {{ item.subVariant}}
                        </p>
                    </div>
                    <div class="menu-products-items"  *ngFor="let categories of item.categories">
                        <div class="menu-products-header">
                            <h2>
                                {{ categories.name }}
                            </h2>
                            <p-divider styleClass="gray-divider" />
                        </div>
                        <app-product-holder
                            *ngFor="let categoryItem of categories.items"
                            [ProductDetails]="categoryItem"
                        ></app-product-holder>
                    </div>
                </div>
            </ng-template>
        </section>
    </div>
    <div class="menu-footer-container">
        <div>
           
        </div>
    </div>







</div>
