@use '../../styles/variables';

.menu-container {
    display: flex;
    flex-direction: column;
    font-family: variables.$Poppins;
}

.menu-board-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65vh;
    background-color: variables.$brown;
    overflow: hidden;

    .menu-board-content{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        font-family: variables.$Poppins;
        color: variables.$white;
        margin-left: 200px;
        margin-top: 100px;
        gap: 40px;
        
        section{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        h1{
            font-size: 64px;
            margin: 0px;
        }
    
        p{
            font-size: 18px;
            margin: 0px;
        }

        div{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            border: solid 1px variables.$white;
            width: 200px;
            padding: 10px 5px 10px 5px;
            height: 30px;
            border-radius: 15px;
        }
    }

    section{
        img{
            height: 900px;
            margin-top: 400px;
            opacity: 0.5;
        }
    }
}

.menu-search-container{
    display: flex;
    position: sticky;
    top: 100px; // <--- This is important
    z-index: 999;
    align-items: center;
    height: 140px;
    background-color: variables.$lightGray;

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 200px;
        margin-left: 100px;
        color: variables.$black;
    }


    input{
        width: 400px;
        height: 50px;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        border: solid 1px variables.$gray;
        color: variables.$black;
        background-color: white;
    }
}

.menu-menu-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: black;

    
    .menu-selection-container{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 200px; 
        z-index: 998;
        align-items: center;
        background-color: white;
        width: 600px;
        max-height: 100vh; // optional, if you want scroll behavior


        .menu-selections{
            display: flex;
            flex-direction: column;
            position: sticky;
            margin-top: 60px;
            gap: 20px;

            h1{
                font-size: 18px;
                font-weight: 700;
                margin: 0px;
            }

            section {
                display: flex;
                flex-direction: column;
                gap: 20px;

                div {
                    p {
                        
                        font-size: 16px;
                        cursor: pointer;
                        margin: 0px;
                        color: variables.$black;
                        &:hover{
                            color: variables.$brown;
                        }
                    }

                    a{
                        text-decoration: none;
                        color: variables.$black;
                    }
                }
            }
        }
    }

    .menu-products-container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 5000px;
        width: 100%;



        .menu-products-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 1200px;
            margin-top: 40px;
            margin-bottom: 20px;
            gap: 5px;

            p{
                font-size: 28px;
                font-weight: bold;
                margin: 0px;
            }

            h2{
                font-size: 24px;
                font-weight: 600;
                margin: 0px;
            }

            .menu-products-directory{
                display: flex;
                flex-direction: row;
                gap: 5px;
                color: variables.$gray;

                a{
                    font-weight: 500;
                    font-size: 16px;
                    color: variables.$gray;
                    text-decoration: none;
                }
                
                p{
                    font-size: 16px;
                    margin: 0px;
                }
            }
        }

        .menu-products-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 1400px;
            height: auto; 
        }


    }
}


.menu-footer-container{
    width: 100%;
    height: 400px;
    background-color: black;
}

.p-divider.p-divider-horizontal:before {
    border-top: 1px solid rgb(211, 210, 210) !important;
}