<div class="menu-container">
    <div class="menu-board-container">
        <div class="menu-board-content">
            <section>
                <h1>
                    Bursting with Brightness 
                </h1>
                <p>
                    Cool off with our icy thirst-quenchers.
                </p>
            </section>
            <div>
                Discover The Flavors
            </div>
        </div>
        <section>
            <img src="assets/images/ShopLogo1.png" alt="Shop Image" class="menu-image">
        </section>
    </div>
    <div class="menu-search-container" #searchSection>
        <div>
            <h2>
                Menu
            </h2>
            <input pInputText type="text" placeholder="Search our drinks, pastries, and foods!" class="menu-search-input">
        </div>
    </div>
    <div class="menu-menu-container">
        <section class="menu-selection-container">
            <div class="menu-selections" *ngFor="let variant of menuVariants">
                <h1>{{ variant.variant }}</h1>
                <section>
                    <div *ngFor="let item of variant.subVariants" >
                        <a>
                            <p>{{ item }}</p>
                        </a>
                    </div>
                </section>
            </div>
        </section>
        <section class="menu-products-container">
            <ng-container *ngIf="!selectedSubVariant && !selectedVariant; else showFilteredProducts" class="menu-products-items">
                <div *ngFor="let group of subVariantsWithImagesGrouped">
                    <div class="menu-products-header" >
                        <p>
                            {{ group.variant }}
                        </p>
                    </div>
                    <div class="menu-products-items">
                        <app-product-holder
                            *ngFor="let product of group.subVariants"
                            [ProductDetails]="product"
                            [CategoryOnly]="true"
                            (encodeURIComponent)="encodeSubVariant($event)"
                        ></app-product-holder>
                    </div>
                </div>
            </ng-container>
            <ng-template #showFilteredProducts>
                <div class="menu-products-header" >
                    <div class="menu-products-directory">
                        <a routerLink="/menus">
                            Menu /
                        </a>
                        <p>
                            {{ selectedVariant }}
                        </p>
                    </div>
                    <p>
                        {{ selectedSubVariant }}
                    </p>
                </div>
                <div class="menu-products-items">
                    <app-product-holder
                        *ngFor="let product of filteredProductVariants"
                        [ProductDetails]="product"
                    ></app-product-holder>
                </div>
            </ng-template>
        </section>
    </div>
    <div class="menu-footer-container">
    
    </div>







</div>
