<div class="menu-container">
    <div class="menu-board-container">
        <div class="menu-board-content">
            <section>
                <h1>
                    Bursting with Brightness 
                </h1>
                <p>
                    Cool off with our icy thirst-quenchers.
                </p>
            </section>
            <div>
                Discover The Flavors
            </div>
        </div>
        <section>
            <img src="assets/images/ShopLogo1.png" alt="Shop Image" class="menu-image">
        </section>
    </div>
    <div class="menu-search-container">
        <div>
            <h2>
                Menu
            </h2>
            <input pInputText type="text" placeholder="Search our drinks, pastries, and foods!" class="menu-search-input">
        </div>
    </div>
    <div class="menu-menu-container">
        <section class="menu-selection-container">
            <div class="menu-selections" *ngFor="let variant of menuVariants">
                <h1>{{ variant.variant }}</h1>
                <section>
                    <div *ngFor="let item of variant.subVariants">
                        <a [routerLink]="['/menus', encodeSubVariant(item)]">
                            <p>{{ item }}</p>
                        </a>
                    </div>
                </section>
            </div>
        </section>
        <section class="menu-products-container">
            <div *ngIf="!selectedSubVariant" class="menu-products-items">
                <ng-container *ngFor="let group of subVariantsWithImagesGrouped">
                    <div class="menu-products-header" >
                        <p>
                            {{ group.variant }}
                        </p>
                    </div>
                    <app-product-holder
                        *ngFor="let product of group.subVariants"
                        [ProductDetails]="product"
                        [CategoryOnly]="true"
                        (encodeURIComponent)="encodeSubVariant($event)"
                    ></app-product-holder>
                </ng-container>
            </div>
            <ng-template [ngIf]="selectedSubVariant != ''">
                <div class="menu-products-items">
                    <app-product-holder
                        *ngFor="let product of filteredProductVariants"
                        [ProductDetails]="product"
                    ></app-product-holder>
                </div>
            </ng-template>
        </section>
    </div>
    <div class="menu-footer-container">
    
    </div>







</div>
