$brown: #933C24 !default;
$white: #F5F5F5 !default;
$black: #111111 !default;
$gray: #5D5D5D !default;
$dimmedYellow: #E9BD8C !default;


$Poppins: 'Poppins', sans-serif !default;
$SansitaSwashed: 'Sansita Swashed', system-ui !default;
