<div class="cart-container">
    <h2>Shopping Cart</h2>
    <div class="cart-items-container" *ngIf="MockProducts && MockProducts.length > 0">
        <div class="cart-header">    
            <p>Product</p>  
            <p>Quantity</p>  
            <p>Remove</p>  
        </div>
        <div class="cart-items">
            <app-items-holder
                *ngFor="let product of MockProducts"
                [product]="product"
                (removeProduct)="removeFromCart($event)">
            >
            </app-items-holder>
        </div>
        <div class="cart-footer">
            <section>
                <p>Total:</p>
                <p>{{ totalPrice | currency }}</p>
            </section>
            <section>
                <i class="pi pi-angle-left" style="font-size: 1rem; cursor: pointer;"></i>
                <div class="checkout-button">Back to Order</div>
            </section>
        </div>
    </div>
</div>


    
