@use '../../../../styles/variables';

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 140px;
    width: 200px;
    border-radius: 10px;
    color: variables.$white;
    background-color: variables.$brown;
    padding: 20px;
    font-family: variables.$Poppins;
}

