@use '../../../styles/buttons';
@use '../../../styles/variables';

.auth-button-login{
    display: flex;
    background-color: transparent;
    border: solid 1px variables.$brown;
    color: variables.$brown;
    font-family: variables.$Poppins;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.auth-button-logout{
    display: flex;
    background-color: transparent;
    border: solid 1px variables.$brown;
    color: variables.$brown;
    font-family: variables.$Poppins;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}
